* {
  box-sizing: border-box;
}
* p,
h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
body {
  margin: auto;
  display: flex;
  flex-direction: column;
  min-width: 375px;
}

main {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.header {
  display: flex;
  height: 63px;
  justify-content: center;
align-items: center;
box-shadow:  0 0 15px rgba(0, 0, 0, 1);
  
  
}
.header__logo {
  /* align-self: center; */
  height: 30px;
  margin-top: 22px;
  margin-bottom: 12px;
}
.location {
  display: flex;
  background-color: rgb(234, 234, 234);
  align-items: center;
  height: 50px;
  box-shadow: inset 0px 4px 5px -3px rgba(0, 0, 0, 0.3);
  justify-content: center;
}
.location i{
  margin-left: 104px;
  margin-right: 18px;
}
.location p {
  font-size: 16px;
  margin-right: 134px;
  

  /* margin-left:50px ; */
}

.exploration {
  background-color: rgb(246, 246, 246);
  display: flex;
  flex-direction: column;
  height: 287px;
  align-items: center;
}
.exploration h1 {
  font-size: 1em;
}
