.footer {
    display: flex;
    flex-direction: column;
    height: 197px;
    background-color: #353535;
    justify-content: center;
    color: white;
    padding: 25px 5.33%;
  
    & .format-1920 {
      @include desktop {
        font-size: 1.05em;
        flex-direction: row;
        justify-content: space-around;
        
      }
    } 
    a {
      display: flex;
      color: white;
      margin-bottom: 6px;
    }
    h2 {
      font-family: $font-primary;
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 22px;
      @include desktop {
        margin-bottom: 0;
        font-size: 1.2em;
      }
    }
    &__prop {
      display: flex;
      align-items: center;
      i {
        font-size: 13px;
      }
    }
  }
  
  .fa-utensils {
    margin-right: 10px;
  }
  .fa-hands-helping {
    transform: scale(0.7, 1);
    margin-left: -2px;
    margin-right: 6px;
  }
  